body {
    margin: none;
    margin-left: 15px;
    background-color: black;
    color: white;
}
*::after {
    box-sizing: border-box;
}


#leftmenu_container {
    width:50px;
    height:100%;
    position: fixed;
}
#leftmenu_container div {
    cursor: pointer;
    color: black;
    margin-top: 10px;
    position: relative;
    z-index: 1;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    border-top:    2px solid;
    border-left:  2px solid; 
    border-bottom: 2px solid;
    border-radius: 5px;
    
}
#leftmenu_container div i {
    z-index: 2;
}

#leftmenu_container div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: white;
    border-top:    2px solid;
    border-left:  2px solid; 
    border-bottom: 2px solid;
    border-radius: 5px;
    opacity: 1;
    z-index: -1;
    transition: -webkit-transform 200ms ease-in;
    transition: transform 200ms ease-in;
    transition: transform 200ms ease-in, -webkit-transform 200ms ease-in;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: right;
    transform-origin: right;
}
#leftmenu_container div:hover::after {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
}

#leftmenu_container div:hover {
    color: white;
}
#current_character_container {
    width: 830px;
    position: absolute;
    top: 0;
    left: 58px;
}
#data_container {
    position: absolute;
    top: 10;
    left: 900px;
}
#current_character {
    font-weight: bold;
}
.particpos {
    font-weight: bold;
    color: green;
}
.particneg {
    font-weight: bold;
    color: red;
}
#data_container {
}
